@model SuperoTarefas.Models.TarefasStatus

@{
    /**/

    ViewBag.Title = "Delete";
}

<p></p>
<div style="font-size: 20px; color: dodgerblue">
    Excluir Status
</div>
<p></p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TarefasStatus</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
            </div>
        </div>

        <div class="alert-danger danger;">
            @ViewBag.DeleteError
        </div>
        <p></p>

    </div>
}


<div>
    @*@Html.ActionLink("Voltar", "Index")*@
    <input type="button" class="btn btn-primary btn-sm" value="Voltar" onclick="location.href='@Url.Action("Index", "TarefasStatus")'" />
</div>

