@model SuperoTarefas.Models.TarefasUrgencia

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes Urgência</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Detalhes Tarefa</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.NivelUrgencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NivelUrgencia, listItems, htmlAttributes: new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Urgencia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Urgencia, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @class = "form-control" } })
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Voltar", "Index")*@
    <input type="button" class="btn btn-primary btn-sm" value="Voltar" onclick="location.href='@Url.Action("Index", "TarefasUrgencia")'" />
</div>

