@model SuperoTarefas.Models.Tarefas

@{
    ViewBag.Title = "Edit";
}

<p></p>
<div style="font-size: 20px; color: dodgerblue">
    Editar Tarefa
</div>
<p></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DataCriacao)
        @Html.HiddenFor(model => model.DataExclusao)

        <div class="form-group">
            @Html.LabelFor(model => model.TituloTarefa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TituloTarefa, new { @maxlength = "70", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DesTarefa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DesTarefa, new { @maxlength = "300", @class = "form-control" })
            </div>
        </div>

        @{List<SelectListItem> listUrgencia = new List<SelectListItem>();

            if (Model != null && Model.ListTarefasStatus != null)
            {
                foreach (var item in Model.ListTarefasUrgencia)
                {
                    listUrgencia.Add(new SelectListItem
                    {
                        Text = item.Urgencia,
                        Value = item.Id.ToString(),
                    });
                }
            }
        }

        @{List<SelectListItem> listStatus = new List<SelectListItem>();

            if (Model != null && Model.ListTarefasUrgencia != null)
            {
                foreach (var item in Model.ListTarefasStatus)
                {
                    listStatus.Add(new SelectListItem
                    {
                        Text = item.Status,
                        Value = item.Id.ToString(),
                    });
                }
            }
        }

        <div class="form-group">
            @Html.LabelFor(model => model.TarefasStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TarefasStatusId, listStatus, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TarefasUrgenciaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TarefasUrgenciaId, listUrgencia, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success btn-lg" />
            </div>
        </div>
        <div class="alert-danger danger">
            @ViewBag.SaveUnsucess
        </div>
        <p></p>
    </div>
}
<div>
    @*@Html.ActionLink("Voltar", "Index")*@
    <input type="button" class="btn btn-primary btn-sm" value="Voltar" onclick="location.href='@Url.Action("Index", "Tarefas")'" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
