@model IEnumerable<SuperoTarefas.Models.Tarefas>

@{
    ViewBag.Title = "Index";
}
<p></p>

<div style="font-size: 20px; color: dodgerblue">
    Lista de Tarefas
</div>
<p></p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TituloTarefa)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.DesTarefa)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.TarefasStatusId)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.TarefasUrgenciaId)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.DataEdicao)
        </th>
        <th ></th>
    </tr>

    @foreach (SuperoTarefas.Models.Tarefas item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesTarefa)                                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarefasStatus.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarefasUrgencia.Urgencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEdicaoStr)
            </td>
            <td>
                <div style="font-size: 14px; font-family: 'Times New Roman'">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Visualizar", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
    }

</table>

<p>
    @*@Html.ActionLink("Criar Nova Tarefa ", "Create", "Tarefas", new { @class = "btn-link" })*@
    <input type="button" class="btn btn-primary" value="Cadastrar Tarefa" onclick="location.href='@Url.Action("Create", "Tarefas")'" />
</p>
